page-classify {
    ion-header{


        .input-bar{
            position: relative;
            height:35px;
            width:90%;
            margin-left: 50%;
            transform: translateX(-50%);
            background: #ffffff;
            border-radius:35px;
            padding:5px;
            padding-left:10px;
            line-height: 35px;
            ion-icon{
                font-size: 20px;
                color:#333;

            }
            span{
                position: relative;
                top:-3px;
                left:5px;
                color:#aaa;
            }
        }
    }
    ion-content{
      .category_container{
        display: flex;
        height: 100%;
        .first_category{
          width:120px;

          height: 100%;
          background: #F6F6F6;
          ul{
             li{
               height: 50px;
               line-height: 50px;
               text-align: center;
               font-size: 16px;
               overflow: hidden;
               text-overflow: ellipsis;
               &.active{
                 background: #ffffff;
                 border-left: 3px solid #377CFF;
                 border-bottom: none;
               }
             }

          }
        }
        .second_category{
          flex: 1;
          height: 100%;
          ul{
            li{
              float: left;
              width:50%;
              box-sizing: border-box;
              border-bottom: 1px solid #D8D8D8;
              text-align: center;
              border-right: 1px solid transparent;
              div{
                padding:50% 0;
                position: relative;
                image{
                  width: 100%;
                  height: 100%;
                }
                img{

                  width: 90%;
                  height: 90%;
                  position: absolute;
                  top:50%;
                  left: 50%;
                  transform: translate(-50%,-50%);

                }
              }
              &:nth-child(2n-1){
                border-right:1px solid #D8D8D8;
              }

            }
            span{
              height: 30px;
              background: #ffffff;
              display: block;
              line-height: 30px;
              font-size: 14px;
              margin:0 3px;
            }
          }
        }
      }
    }
}
