<!--
  Generated template for the ClassifyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <div class="search-bar"></div>
  <div class="input-bar" (click)="goodsList()">
    <ion-icon name="search" ></ion-icon>
    <span>请输入你想搜索的 商品 / 品牌</span>
  </div>

</ion-header>


<ion-content>
  <div class="category_container">
    <ion-scroll class="first_category" scrollY="true">
      <ul>
        <li *ngFor="let item of categoryList ; index as i" [class.active]="i == categoryId " tappable (click)="changeCategory(i)">
          {{item.category_name}}
        </li>
      </ul>
    </ion-scroll>
    <ion-scroll class="second_category" scrollY="true">
      <ul class="clear">
        <li *ngFor="let item of childList" tappable (click)="goodsList(item.category_id)">
          <div>
            <image class="center" [src]="item.category_pic" alt=""></image>
          </div>
          <span>{{item.category_name}}</span>
        </li>
      </ul>
    </ion-scroll>
  </div>
</ion-content>
