<!--
  Generated template for the MyCouponPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>我 的 优 惠 券</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ul>
    <li *ngFor="let coupon of couponList" [class]="'state'+coupon.state">
      <div>
        <div class="price">
          ¥
          <span>{{coupon.money}}</span>
          <p>优惠券</p>
        </div>
        <div class="get">
          <span *ngIf="coupon.at_least != '0.00'">满{{coupon.at_least}}使用</span>
          <span *ngIf="coupon.at_least == '0.00'">无门槛使用</span>
          <p>开始时间：{{coupon.start_time}}</p>
          <p>结束时间：{{coupon.end_time}}</p>
        </div>
      </div>
      <img *ngIf="coupon.state == 2" src="assets/imgs/ud.png" alt="">
      <img *ngIf="coupon.state == 3" src="assets/imgs/od.png" alt="">
    </li>
  </ul>
</ion-content>
