page-goods-detail {
  .pic_list{
    height: 100vw;
    ion-slide{
      overflow: hidden;
    }
  }
  .goods_intro{
    border-top:1px solid #eeeeee;
    border-bottom:1px solid #eeeeee;
    padding:5px 10px;
    p{
      &.name{
        text-overflow: ellipsis;
        font-size: 16px;
        color:#333;
      }
      &.note{
        margin:5px ;
        span{
          display: inline-block;
          padding: 3px 8px;
          color:#fff;
          font-size: 10px;
          &:first-child{
            background: #19A15E;
          }
          &:nth-child(2){
            background: #4B8BF5;
            margin-left:10px;
          }
          &:nth-child(3),&:nth-child(4){
            border:1px solid #F5564B;
            border-radius: 2px;
            color:  #F5564B;
            margin-left:10px;
          }
        }

      }
      &.star{
        ion-icon{
          color:#FFCE44;
          font-size: 16px;
        }
        span{
          color: #999;
          font-size: 12px;
          float: right;
          margin-right: 20px;
        }
      }
      &.price{
        span:first-child{
          color: red;
          font-size: 20px;
        }
        span:nth-child(2),span:last-child{
          color: #999;
          font-size: 14px;
          text-decoration: line-through;
          margin-left: 30px;
        }
        span:last-child{
          color: #666;
          float: right;
          margin-right: 20px;
          text-decoration: none;
        }
      }


    }
  }
  .detail_nav{

    display: flex;
    text-align: center;
    line-height: 44px;

    span{
      flex: 1;
      font-size: 16px;
      border-bottom:3px solid #CFE1FD;
      &.active{
        color:#4B8BF5;
        border-color:#4B8BF5;
        font-weight: bold;
      }
    }
  }

  .goods{
    border-top:1px solid transparent;
    background: #eee;
    padding-bottom: 60px;
    .rule{
      line-height: 44px;
      height: 44px;
      background: #fff;
      margin-top:10px;
      padding:0 10px ;
      choose-model{
        display: inline-block;

      }
      .r{
        font-size: 26px;
        margin-top:9px;
        color:#666;

      }
    }
  }
  ion-infinite-scroll {
    background: #eee;
  }

  .footer{
    position: fixed;
    width:100%;
    height: 50px;
    bottom: 0;
    box-shadow: 0 0 3px 3px #ECECEC;
    display: flex;
    text-align: center;
    .favorite,.service,.cart{
      position: relative;
      background: #fff;
      display: flex;
      width:60px;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-size: 12px;
      color:#333;
      ion-icon{
        font-size: 30px;
      }
      ion-badge{
        position: absolute;
        top:0;
        right: 0;
        transform: translate(-50%,-50%);

      }

    }
    .favorite{
      ion-icon{
        color:#C7C6C6;
      }
      .fav{
        color:#F5564B;
      }
    }
    .service{
      ion-icon{
        color:#29E386;
      }
    }
    .cart{
      ion-icon{
        color:#FFCE44;
      }
    }
    .buy_now,.add_cart{
      line-height: 50px;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      color:#fff;
      flex: 1;
    }
    .buy_now{
      background: #209FFF;
    }
    .add_cart{
      background: #BF4BF5;
    }
  }
}
