page-pay-result {
  .pay_success{
    height: 100%;
    display: flex;
    width: 100;
    flex-direction: column;
    justify-content: center;
    img{
      width:160px;
      height: 160px;

    }
    p{
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      color:#347eff;
      margin: 20px ;
    }
    div{
      padding:5px 10px;
      border:0.5px solid #f56c6c;
      color:#f56c6c;
      border-radius: 4px;
    }
  }
}
