page-my-history {
  .no_data{
    color:#969696;
    margin-top:50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 20px;
  }
  .goods_list{
    border-top:1px solid #f8f8f8;
    li{
      display: flex;
      border-bottom: 1px solid #f8f8f8;
      img{
        width:80px;
        height: 80px;
      }
      div{
        position: relative;
        flex:1;
        >ion-icon{
          position: absolute;
          top:50%;
          transform: translateY(-50%);
          right:10px;
          color:#F74C31;
          font-size: 30px;
        }
        p{
          &.name{
            text-overflow: ellipsis;
            font-size: 14px;
            color:#333;
          }
          &.note{
            span{
              display: inline-block;
              padding:2px 5px;
              color:#fff;
              font-size: 10px;
              border-radius: 2px;
              &.hot{
                background: #F74C31;
              }
              &.rec{
                background: #19A15E;
              }
              &.new{
                background: #4B8BF5;
              }
            }

          }
          &.star{
            ion-icon{
              color:#FFCE44;
              font-size: 16px;
            }
            span{
              color: #999;
              font-size: 12px;
              margin-left:10px;
            }
          }
          &.price{
            span:first-child{
              color: red;
              font-size: 18px;
            }
            span:last-child{
              color: #999;
              font-size: 14px;
              text-decoration: line-through;
              margin-left: 20px;
            }
          }
        }
      }
    }
  }
}
