page-my-team {
  .summery{
    text-align: center;

    >img{
      width:100px;
      height: 100px;
    }
    >div{
      display: flex;
      width:100%;
      >div{
        flex:1;
        p{

          color:#4d4d4d;
          &:last-child{
            color:#20a1f5;
            font-size: 20px;
            font-weight: bold;
          }
        }
      }
    }
  }
  .team_list{
    .input-wrapper{
      max-width:186px;

    }
    .time{
      font-size: 12px;
      color:#969696;
    }
    .pay{
      font-size: 12px;
      color:#FF5100;
    }
    .point{
      font-size: 12px;
      color:#20a1f5;
    }
  }

}
