page-goods-list {
  .header-ios .toolbar-ios:last-child .toolbar-background-ios{
    border: none;
  }
  .header{
    display: flex;
    .toolbar  .searchbar-input{
      background: #fff;
    }
    .search_btn{
      color:#fff;
      width: 40px;
      display: flex;
      align-items: center;
    }

  }
  ion-content{
    .toolbar-background-ios, .toolbar-background-md{
      background: #fff;
    }
    .toolbar-ios .segment-button ion-icon,.toolbar-md .segment-button ion-icon{
      font-size: 1.2rem;
    }
    .goods_list{
      border-top:1px solid #f8f8f8;
      li{
        display: flex;
        border-bottom: 1px solid #f8f8f8;
        img{
          width: 70px;
          height: 70px;
          margin: 5px;
        }
        div{
          position: relative;
          flex:1;
          >ion-icon{
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            right:10px;
            color:#F74C31;
            font-size: 30px;
          }
          p{
            &.name{
              text-overflow: ellipsis;
              font-size: 14px;
              color:#333;
            }
            &.note{
              span{
                display: inline-block;
                padding:2px 5px;
                color:#fff;
                font-size: 10px;
                border-radius: 2px;
                &.hot{
                  background: #F74C31;
                }
                &.rec{
                  background: #19A15E;
                }
                &.new{
                  background: #4B8BF5;
                }
              }

            }
            &.star{

              span{
                color: #999;
                font-size: 10px;
                margin-left:8px;
              }
            }
            &.price{
              span:first-child{
                color: red;
                font-size: 16px;
              }
              span:last-child{
                color: #999;
                font-size: 12px;
                text-decoration: line-through;
                margin-left: 20px;
              }
            }

          }
        }
      }
    }
  }
}
