page-shopping-car {
  .manger_btn{
    float: right;
    color:#fff;
  }
  .no_data{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color:#ccc;
    flex-direction:column;
    ion-icon{
      font-size: 120px;
      
    }
  }
  .good_list{
    ion-item{
      position: relative;
      ion-label{
        display: flex;
        pointer-events: inherit;
        max-width: none;
        img{
          width:  60px;
          height: 60px;
          margin-left: 5px;
          z-index: 100;
        }
        >div{
          z-index: 100;
          
          p{
            text-overflow: ellipsis;
           
            &.price{
              color:red;
            }
            &.name{
              color:#333;
              z-index: 100;
              max-width: 200px;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
      .delete{
        position: absolute;
        right:10px;
        top:15px;
        color:#FF5100;
        font-size: 24px;
      }
      .nums{
        position: absolute;
        right:15px;
        bottom:5px;
      }
      .num{
        position: absolute;
        right:10px;
        bottom:10px;
        display: flex;
        align-items: center;
        border:1px solid #ccc;
        ion-input{
          width:50px;
          input{
            margin:0;
            text-align: center;
          }
          font-size: 12px;
        }
        ion-icon{
          padding:3px 8px;
          &:first-child{
            border-right: 1px solid #ccc;
          }
          &:last-child{
            border-left: 1px solid #ccc;
          }
        }
        z-index: 999;
      }
    }
  }
  .check_out{
    height: 44px;
    position: fixed;
    bottom: 48px;
    width: 100%;
    left:0;
    display: flex;
    box-shadow:0px -1px 3px #a5a5a5;
    >div{
      flex:1;
      align-items: center;
      line-height: 44px;
      height: 44px;
      padding:0 10px;
      p{
        float: left;
        font-size: 12px;
        ion-checkbox{
          vertical-align: middle;
        }
      }
      span{
        font-size: 12px;
        float: right;
      }
      i{
        font-size: 8px;
        color:#707070;
        font-style: normal;
      }
      b{
        font-size: 14px;
        color:red;
      }
    }
    >p{
      width:120px;
      height: 44px;
      line-height: 44px;
      background: #FF5100;
      color:#fff;
      text-align: center;
      font-size: 16px;
      span{
        font-size: 12px;
      }
    }
  }
}
