<!--
  Generated template for the OrderDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>订 单 详 情</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ng-container *ngIf="orderDetail">
    <div class="order_status">
      {{orderDetail.status_name}}
    </div>
    <div class="order_address">
      <p class="header">
        <span class="name">{{orderDetail.receiver_name}}</span>
        <span class="tel">{{orderDetail.receiver_mobile}}</span>
      </p>
      <p class="body">
        <span>
          {{orderDetail.receiver_province_name}} {{orderDetail.receiver_city_name}} {{orderDetail.receiver_district_name}}
        </span>
        <span>{{orderDetail.receiver_address}}</span>
      </p>
    </div>
    <div class="goods_list">
      <p class="g_label">
        <img src="assets/imgs/goods.jpg">订单商品：</p>
      <ion-list>
        <ion-item *ngFor="let ele of orderDetail.order_item_list">
          <ion-label tappable (click)='openDetail($event,ele.goods_id)'>
            <image  [src]="ele.picture.pic_cover_mid" alt=""></image>
            <div>
              <p class="name" tappable>{{ele.goods_name}}</p>
              <p class="type">规格：{{ele.sku_name}}</p>
              <p class="price">价格：¥ {{ele.price}}</p>
            </div>
            <div class="nums">
              数量：{{ele.num}}
            </div>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
    <div class="total">
      商品总价：
      <span *ngIf="orderDetail"> ¥ {{orderDetail.goods_money}}</span>
      <p>商品总数：
        <span>{{goodsCount}}</span>
      </p>
    </div>
    <div class="price_list">
      <p>物流费用：
        <span>{{orderDetail.shipping_money}}</span>
      </p>
      <p>积分抵扣：
        <span>-{{orderDetail.point_money}}</span>
      </p>
      <p>优惠券抵扣：
        <span>-{{orderDetail.coupon_money}}</span>
      </p>
      <p>实付费用：
        <span>{{orderDetail.pay_money}}</span>
      </p>
    </div>
    <div class="time_list">
      <p>订单号：
        <span>{{orderDetail.order_no}}</span>
      </p>
      <p>下单时间：
        <span>{{orderDetail.create_time*1000 | date:"yyyy-MM-dd hh:mm:ss"}}</span>
      </p>
      <p *ngIf="orderDetail.pay_time !=0">支付时间：
        <span>{{orderDetail.pay_time*1000 | date:"yyyy-MM-dd hh:mm:ss"}}</span>
      </p>
      <p *ngIf="orderDetail.consign_time !=0">发货时间：
        <span>{{orderDetail.consign_time*1000 | date:"yyyy-MM-dd hh:mm:ss"}}</span>
      </p>
      <p *ngIf="orderDetail.finish_time !=0">完成时间：
        <span>{{orderDetail.finish_time*1000 | date:"yyyy-MM-dd hh:mm:ss"}}</span>
      </p>
    </div>
    <div class="shipping">
      <p class="g_label">
        <img src="assets/imgs/icon_ship.png"> 物流信息：
      </p>
    </div>
  </ng-container>
</ion-content>
