.toolbar-background-ios,.toolbar-background-md{
  background: linear-gradient(to right, #347eff, #1ea3ff);

}
.toolbar-title-ios,.toolbar-title-md{
  color:#ffffff;
}

.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default,
.bar-button-default-md, .bar-button-default.bar-button-md-default, .bar-button-clear-md-default{
  color:#ffffff;
}
