page-pay {
  .pay_money{
    margin:20px 0;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color:#FF5100;
  }
  ion-label{
    img{
      widows: 24px;
      height: 24px;
      vertical-align: middle;
      margin-right: 10px;
      transform: translateY(-2px);
    }
  }
}
