<!--
  Generated template for the BusinessLicensePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content>
    <img class="bg" src="assets/imgs/lbg.png" alt="">
    <div class="container">
      <h1>上传营业执照</h1>

      <div class="img_box">
          <img *ngIf="licenseImg" [src]="licenseImg" alt="">
          <ion-icon *ngIf="!licenseImg" name="ios-add"  tappable (click)="select()"></ion-icon>
          <ion-icon class="isUpload" *ngIf="isUpload" name="ios-checkmark-circle-outline"></ion-icon>
      </div>
      <div class="btn_group">
          <button ion-button full tappable (click)="select()">选 择</button>
          <button ion-button full tappable (click)="upload()">上 传</button>
      </div>

    </div>

</ion-content>
