<!--
  Generated template for the CheckOutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>订单确认</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="order_address" *ngIf="addressDefault" (click)="selectAddress()">
    <p class="header">
      <span class="name">{{addressDefault.consigner}}</span>
      <span class="tel">{{addressDefault.mobile}}</span>
    </p>
    <p class="body">
      <span [innerHtml]="addressDefault.address_info"></span>
      <span>{{addressDefault.address}}</span>
    </p>
    <div class="footer">
      <span class="auto">
        默认收货地址
      </span>
      <p>
        <span (click)="editAddress(addressDefault)">编辑</span>
      </p>
    </div>
  </div>
  <div class="no_address" *ngIf="!addressDefault" (click)="addAddress()">
    <ion-icon name="ios-add"></ion-icon>
    添加收货地址
  </div>
  <div class="line">
    <img src="assets/imgs/line.jpg" alt="">
  </div>
  <div class="goods_list">
    <p class="g_label">
      <img src="assets/imgs/goods.jpg">订单商品：</p>
    <ion-list *ngIf="cartData">
      <ion-item *ngFor="let ele of cartData">
        <ion-label>
          <image tappable (click)='openDetail($event,ele.goods_id)' [src]="ele.picture_info.pic_cover_mid" alt=""></image>
          <div>
            <p class="name" tappable (click)='openDetail($event,ele.goods_id)'>{{ele.goods_name}}</p>
            <p class="type" *ngIf="ele.qiu">柱镜：{{ele.zhu}} / 球镜：{{ele.qiu}}</p>
            <p class="type" *ngIf="ele.sku_name">规格：{{ele.sku_name}}</p>
            <p class="price">价格：¥ {{ele.price}}</p>
          </div>
          <div class="nums">
            数量：{{ele.num}}
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div class="total">
    商品总价：
    <span *ngIf="orderDetail"> ¥ {{orderDetail.count_money}}</span>
    <p>商品总数：
      <span>{{goodsCount}}</span>
    </p>
  </div>


  <ng-container *ngIf="memberAccount">
    <div class="rule" *ngIf="memberAccount.balance>0" tappable>
      <ion-checkbox [(ngModel)]="useBalance" (ngModelChange)="balanceChange()"></ion-checkbox>使用余额:
      <span class="price">¥ {{balance}}</span>
      <span>可用余额：{{memberAccount.balance}}
        <i *ngIf='balance!=0'>{{balance}}</i>
      </span>
    </div>
    <div class="rule" *ngIf="memberAccount.point>0 && pointConfig.is_open == 1" tappable>
      <ion-checkbox [(ngModel)]="usePoint" [disabled]="pointConfig.is_open != 1" (ngModelChange)="pointChange()"></ion-checkbox>使用积分:
      <span class="price">¥ {{pointCut}}</span>
      <span>可用积分：{{memberAccount.point}}
        <i *ngIf='integral!=0'>{{integral}}</i>
      </span>
    </div>
  </ng-container>


  <div class="rule" *ngIf="couponList.length>0" tappable (click)="hideCoupon=false">
    使用优惠券：
    <span class="price" *ngIf="selectCoupon">¥ -{{couponCut}}</span>
    <ion-icon class="r" name="ios-arrow-forward-outline"></ion-icon>
    <span>{{showCoupon}}</span>

  </div>
  <div class="rule" *ngIf="expressCompanyList" tappable (click)="hideExpress=false">
    选择物流：
    <span class="price">¥ {{express}}</span>
    <span class="price" style="font-size: 10px;color:#969696;" *ngIf="promotionFullMail?.is_open==1">(满{{promotionFullMail?.full_mail_money}}包邮)</span>
    <ion-icon class="r" name="ios-arrow-forward-outline"></ion-icon>
    <span>{{showExpress}}</span>

  </div>
  <!-- <div class="rule " tappable>
    支付方式：
    <ion-icon class="r" name="ios-arrow-forward-outline"></ion-icon>
    <span>支付宝</span>
  </div> -->

  <div class="last">
    <ion-textarea [(ngModel)]="leavemessage" col="5" placeholder="买家留言">

    </ion-textarea>
  </div>





</ion-content>
<ion-footer class="check_out">
  <div>
    <span>
      <i>含运费 </i> 总价:
      <b>¥ {{totalPrice}}</b>
    </span>
  </div>
  <p (click)="createOrder()">
    提交订单
  </p>
</ion-footer>
<coustom-action [(isHide)]="hideCoupon" title="选择优惠券">
  <ion-list radio-group [(ngModel)]="selectCoupon" (ngModelChange)="getCoupon()">
    <ion-item *ngFor="let coupon of couponList">
      <ion-label>{{coupon?.coupon_name}}
        <span>¥ -{{coupon?.money}}</span>
      </ion-label>
      <ion-radio [value]="coupon?.coupon_id"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>不使用优惠券</ion-label>
      <ion-radio value=""></ion-radio>
    </ion-item>
  </ion-list>
</coustom-action>
<coustom-action [(isHide)]="hideExpress" title="选择物流公司">
  <ion-list radio-group [(ngModel)]="selectExpress" (ngModelChange)="getExpress($event)">
    <ion-item *ngFor="let item of expressCompanyList">
      <ion-label>{{item?.company_name}}, 运费：
        <span>¥ {{item?.express_fee}}</span>
      </ion-label>
      <ion-radio [value]="item?.co_id"></ion-radio>
    </ion-item>

  </ion-list>
</coustom-action>
