page-notice-content {
  .stitle{
    color:#4d4d4d;
    margin-top:15px ;
    text-align: center;
  }
  .time{
    margin-top:5px;
    color:#969696;
    font-size: 12px;
    text-align: center;
  }
  .content{
    margin-top:15px;
  }
}
