page-my-balance {
  .score_bar{
    text-align: center;
    font-size: 12px;
    color:#333;
    .sum{
      font-size: 30px;
      font-weight: bold;
      color:#1ea3ff;
      padding:10px;
    }
    .recharge{
      font-size: 14px;
      color:#ffffff;
      width: 60px;
      margin:0 auto;
      height: 25px;
      line-height: 25px;
      border-radius: 25px;
      background:#f5683d;
    }
  }
  .p10{
    padding:10px;
  }
  li{
    padding:5px 10px;
    span{
      color:#707070;

    }
    span.r{
      color:#1ea3ff;
      float: right;
    }
    p{
      color:#969696;
      font-size: 12px;
      margin-top:5px;
    }
    border-top:1px solid #f2f2f2;
  }
}
